<section class="mt-10 ml-10 border-2 p-5 rounded-lg shadow-lg bg-white">
  <p>Current Prestige Cores: {{ character().prestigeCores }}</p>
  <p>Current Gold: {{ character().gold }}</p>
</section>

<section class="mt-10 ml-10 border-2 p-5 rounded-lg shadow-lg bg-white">
  <h2 class="text-4xl font-bold">Available Gold Upgrades:</h2>
  <div class="grid grid-cols-3 gap-4 mt-5">
    @for (upgrade of goldUpgrades(); track $index) {
    <app-prestige-upgrade-card
      [upgrade]="upgrade.upgrade"
      [currentCost]="upgrade.currentCost"
      [totalEffect]="upgrade.totalEffect"
      [label]="'Gold'"
      (purchase)="onGoldPurchaseUpgrade(upgrade.upgrade.id)"
    ></app-prestige-upgrade-card>
    }
  </div>
</section>
<section class="mt-10 ml-10 border-2 p-5 rounded-lg shadow-lg bg-white">
  <h2 class="text-3xl font-bold">Available Prestige Upgrades:</h2>
  <div class="grid grid-cols-3 gap-4 mt-5">
    @for (upgrade of prestigeUpgrades(); track $index) {
    <app-prestige-upgrade-card
      [upgrade]="upgrade.upgrade"
      [currentCost]="upgrade.currentCost"
      [totalEffect]="upgrade.totalEffect"
      [label]="'Prestige Cores'"
      (purchase)="onPrestigePurchaseUpgrade(upgrade.upgrade.id)"
    ></app-prestige-upgrade-card>
    }
  </div>
</section>
