<header
  class="flex gap-5 px-20 py-5 items-center bg-dark-bg text-main-cyan justify-between border-b-main-cyan border-b-2"
>
  <div>
    <p>CORE_STRATE</p>
    <p>STREAMS // ACTIVE_NODES</p>
  </div>
  <ul class="flex gap-5">
    <li routerLink="/dashboard" routerLinkActive="text-gray-200 font-bold">DASHBOARD</li>
    <li routerLink="/character" routerLinkActive="scale-[1.5]">CHARACTER</li>
    <li routerLink="/milestones" routerLinkActive="scale-[1.1] font-bold">MILESTONES</li>
    <li
      routerLink="/campaign"
      routerLinkActive="border-b-2 border-b-main-cyan"
      class="border-main-cyan"
    >
      CAMPAIGN
    </li>
  </ul>
  <div>
    <p>ENERGY_STREAM: 85,420</p>
    <p>LVL_45_OPERATIVE</p>
  </div>
</header>
