<header
  class="font-mono flex gap-5 px-20 py-5 items-center bg-dark-bg text-main-cyan justify-between border-b-main-cyan border-b-2"
>
  <div>
    <p class="font-display font-bold tracking-widest text-xl glow-cyan">CORE_STRATA</p>
    <p class="opacity-50 glow-cyan segmented-text text-[0.6em]">STREAMS // ACTIVE_NODES</p>
  </div>
  <div class="relative">
    <ul class="flex gap-5" #nav>
      <li routerLink="/dashboard" class="glow-cyan" routerLinkActive="active-link">
        <span>DASHBOARD</span>
      </li>
      <li routerLink="/character" class="glow-cyan" routerLinkActive="active-link">
        <span>CHARACTER</span>
      </li>
      <li routerLink="/milestones" class="glow-cyan" routerLinkActive="active-link">
        <span>MILESTONES</span>
      </li>
      <li routerLink="/campaign" class="glow-cyan" routerLinkActive="active-link">
        <span>CAMPAIGN</span>
      </li>
    </ul>
    <div class="nav-underline glow-cyan" #underline></div>
  </div>
  <div class="glow-cyan">
    <p class="glow-cyan">ENERGY_STREAM: 85,420</p>
    <p class="glow-cyan">LVL_45_OPERATIVE</p>
  </div>
</header>
