<header class="flex gap-5 px-20 py-5 items-center bg-white text-black justify-between">
  <span>Kaizen</span>
  <ul class="flex gap-5">
    <li routerLink="/dashboard" routerLinkActive="text-gray-200 font-bold">Dashboard</li>
    <li routerLink="/character" routerLinkActive="scale-[1.5]">Character</li>
    <li routerLink="/milestones" routerLinkActive="scale-[1.1] font-bold">Milestones</li>
    <li routerLink="/campaign" routerLinkActive="scale-105 text-blue-600 font-bold">Campaign</li>
  </ul>
</header>
