<!-- <section class="mt-10 ml-10 border-2 p-5 rounded-lg shadow-lg bg-white">
  <h2 class="text-4xl font-bold">Campaign</h2>
  <div class="mt-5">
    <ul class="flex gap-5">
      <li>Current Stage: {{ character().currentStage }}</li>
      <li>Current Wave: {{ character().currentWave }}</li>
    </ul>
  </div>
</section>
<section class="mt-10 ml-10 border-2 p-5 px-10 rounded-lg shadow-lg bg-white flex flex-col gap-4">
  <div class="flex flex-row items-center">
    <div class="border-4 border-amber-950 rounded-xl py-5 px-10 gap-5 flex flex-col">
      <p>Your Damage: {{ attackDamage() }}</p>
      <p>Damage per Second: {{ damagePerSecond() }}</p>
      <p>Your Attack Speed: {{ attackSpeed() }}/s</p>
      <p>
        Multipliers: {{ character().prestigeMultipliers.strength }} x
        {{ character().prestigeLevel }}
      </p>
      <p>Prestige Cores: {{ character().prestigeCores }}</p>
      <p>Gold: {{ character().gold }}</p>
    </div>
    <div class="flex flex-col items-center">
      <img ngSrc="/sprites/necromancer.png" alt="Enemy Sprite" width="256" height="256" />
      <p class="font-bold">
        Enemy HP: {{ combatService.enemyHP() }} / {{ combatService.calculateEnemyHP() }}
      </p>
      <progress
        [value]="combatService.enemyHP()"
        [max]="combatService.calculateEnemyHP()"
        class="[&::-webkit-progress-bar]:bg-green-600 [&::-moz-progress-bar]:bg-green-600 bg-red-900"
      ></progress>
    </div>
  </div>
  @if (combatService.isFighting()) {
    <button class="p-5 bg-gray-500 text-white font-bold" (click)="stopFight()">Stop Fight</button>
  } @else {
    <button class="p-5 bg-blue-950 text-white font-bold" (click)="startFight()">Begin Fight</button>
  }
  @if (characterService.character().currentWave >= 20) {
    <button
      class="p-5 bg-yellow-600 text-white font-bold disabled:bg-gray-700"
      (click)="prestige()"
      [disabled]="prestigeService.calculatePrestigeCores() <= 0"
    >
      Prestige +{{ prestigeService.calculatePrestigeCores() }} Cores on Prestige
    </button>
  }
  <button
    class="p-5 bg-purple-700 text-white font-bold disabled:bg-gray-700"
    (click)="combatService.useSwiftAttackSkill()"
    [disabled]="combatService.isSwiftAttacking()"
  >
    Use Swift Attack Skill
  </button>
</section> -->
<div class="h-full grid grid-rows-[1fr_auto]">
  <section class="grid grid-cols-[auto_1fr_25vw] text-white px-20">
    <app-sidebar
      [character]="character()"
      [attackDamage]="attackDamage()"
      [attackSpeed]="attackSpeed()"
      class="h-full"
    />
    <div
      class="flex justify-between text-main-cyan font-mono border-r-2 glow-cyan border-r-grid-line px-20"
    >
      <div class="flex justify-around mt-20 w-full">
        <div>
          <p class="text-main-cyan-muted text-sm">
            SECTOR_{{ character().currentStage }}-X_OHSIDIAN
          </p>
          <p class="text-6xl font-impact">VOID STALKER</p>
          <div>
            <p>
              {{ combatService.enemyHP() | BigDecimalFormat
              }}<span class="text-main-cyan-muted"> / </span
              >{{ combatService.calculateEnemyHP() | BigDecimalFormat }} HP
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-4 text-end relative">
          <p class="text-main-cyan-muted text-sm tracking-widest">WAVE PROGRESS</p>
          <p class="text-5xl">
            {{ character().currentWave }}<span class="text-main-cyan-muted">/</span>10
          </p>
          <div class="flex">
            <div
              class="h-0.5 bottom-0 bg-main-cyan"
              [ngStyle]="{ width: character().currentWave * 10 + '%' }"
            ></div>

            <div
              class="h-0.5 bottom-0 bg-main-cyan-muted"
              [ngStyle]="{ width: 100 - character().currentWave * 10 + '%' }"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div>Test</div>
  </section>
  <footer
    class="text-main-cyan font-mono h-[10vh] px-20 border-t border-t-grid-line flex items-center"
  >
    <div>
      <p class="text-main-cyan-muted text-sm mb-2">AUTOMATION</p>
      <button
        class="bg-main-cyan-muted/20 text-main-cyan border-main-cyan/50 glow-cyan border-2 px-12 py-4 cursor-pointer"
        (click)="toggleFight()"
      >
        @if (combatService.isFighting()) {
          AUTO_FIGHT: ON
        } @else {
          AUTO_FIGHT: OFF
        }
      </button>
    </div>
  </footer>
</div>
