<section class="mt-10 ml-10 border-2 p-5 rounded-lg shadow-lg bg-white">
  <h2 class="text-4xl font-bold">Campaign</h2>
  <div class="mt-5">
    <ul class="flex gap-5">
      <li>Current Stage: {{ character().currentStage }}</li>
      <li>Current Wave: {{ character().currentWave }}</li>
    </ul>
  </div>
</section>
<section class="mt-10 ml-10 border-2 p-5 px-10 rounded-lg shadow-lg bg-white flex flex-col gap-4">
  <div class="flex flex-row items-center">
    <div class="border-4 border-amber-950 rounded-xl py-5 px-10 gap-5 flex flex-col">
      <p>Your Damage: {{ attackDamage() }}</p>
      <p>Damage per Second: {{ damagePerSecond() }}</p>
      <p>Your Attack Speed: {{ attackSpeed() }}/s</p>
      <p>
        Multipliers: {{ character().prestigeMultipliers.strength }} x
        {{ character().prestigeLevel }}
      </p>
      <p>Prestige Cores: {{ character().prestigeCores }}</p>
      <p>Gold: {{ character().gold }}</p>
    </div>
    <div class="flex flex-col items-center">
      <img ngSrc="/sprites/necromancer.png" alt="Enemy Sprite" width="256" height="256" />
      <p class="font-bold">
        Enemy HP: {{ combatService.enemyHP() }} / {{ combatService.calculateEnemyHP() }}
      </p>
      <progress
        [value]="combatService.enemyHP()"
        [max]="combatService.calculateEnemyHP()"
        class="[&::-webkit-progress-bar]:bg-green-600 [&::-moz-progress-bar]:bg-green-600 bg-red-900"
      ></progress>
    </div>
  </div>
  @if (combatService.isFighting()) {
    <button class="p-5 bg-gray-500 text-white font-bold" (click)="stopFight()">Stop Fight</button>
  } @else {
    <button class="p-5 bg-blue-950 text-white font-bold" (click)="startFight()">Begin Fight</button>
  }
  @if (characterService.character().currentWave >= 20) {
    <button
      class="p-5 bg-yellow-600 text-white font-bold disabled:bg-gray-700"
      (click)="prestige()"
      [disabled]="prestigeService.calculatePrestigeCores() <= 0"
    >
      Prestige +{{ prestigeService.calculatePrestigeCores() }} Cores on Prestige
    </button>
  }
  <button
    class="p-5 bg-purple-700 text-white font-bold disabled:bg-gray-700"
    (click)="combatService.useSwiftAttackSkill()"
    [disabled]="combatService.isSwiftAttacking()"
  >
    Use Swift Attack Skill
  </button>
</section>
