<div class="border-r-grid-line border-r-2 pr-20 flex flex-col justify-between h-full">
  <div class="mt-10 glow-cyan text-2xl font-mono text-main-cyan flex flex-col">
    <div class="mb-10 flex gap-5 items-center">
      <div class="h-2 aspect-square bg-main-cyan shadow-[0_0_8px_rgba(0,240,255,0.6)]"></div>
      <p class="glow-cyan text-2xl font-mono text-main-cyan">Hero Analytics</p>
    </div>
    <div class="flex flex-col gap-16">
      <app-label MAIN_LABEL="Attack Power" [SECONDARY_LABEL]="attackDamage() | BigDecimalFormat" />
      <app-label MAIN_LABEL="Attack Speed" SECONDARY_LABEL="{{ attackSpeed().toString() }}/s" />
      <app-label
        MAIN_LABEL="Multipliers"
        SECONDARY_LABEL="{{ character().prestigeLevel }} x {{
          character().prestigeMultipliers.strength
        }}"
      />
      <div class="h-px w-full bg-grid-line"></div>

      <div class="flex flex-row justify-between items-center gap-5 text-main-Amber glow-amber">
        <p class="segmented-text text-sm">Critical Chance</p>
        <p>24%</p>
      </div>
      <div class="flex flex-row justify-between items-center gap-5 text-main-Amber glow-amber">
        <p class="segmented-text text-sm">Critical Damage</p>
        <p>2.5x</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col text-2xl gap-20 text-main-cyan-muted font-mono mb-10">
    <p>Vault</p>
    <div>
      <p>Gold</p>
      <p class="text-main-cyan text-4xl">{{ character().gold | BigDecimalFormat }}</p>
    </div>
    <div>
      <p>Kaizen Cores</p>
      <p class="text-main-cyan text-4xl">{{ character().prestigeCores | BigDecimalFormat }}</p>
    </div>
  </div>
</div>
