<div class="border-r-grid-line border-r-2 pr-20 flex min-h-0 flex-col justify-between h-full">
  <div class="mt-6 glow-cyan text-xl font-mono text-main-cyan flex flex-col">
    <div class="mb-4 flex gap-4 items-center">
      <div class="h-2 aspect-square bg-main-cyan shadow-[0_0_8px_rgba(0,240,255,0.6)]"></div>
      <p class="glow-cyan text-xl font-mono text-main-cyan">Hero Analytics</p>
    </div>
    <div class="flex flex-col gap-5">
      <app-label MAIN_LABEL="Attack Power" [SECONDARY_LABEL]="attackDamage() | BigDecimalFormat" />
      <app-label MAIN_LABEL="Attack Speed" SECONDARY_LABEL="{{ attackSpeed().toString() }}/s" />
      <app-label
        MAIN_LABEL="Multipliers"
        SECONDARY_LABEL="{{ character().prestigeLevel }} x {{
          strengthMultiplier()
        }}"
      />
      <div class="h-px w-full bg-grid-line"></div>

      <div class="flex flex-row justify-between items-center gap-5 text-main-Amber glow-amber">
        <p class="segmented-text text-sm">Critical Chance</p>
        <p>24%</p>
      </div>
      <div class="flex flex-row justify-between items-center gap-5 text-main-Amber glow-amber">
        <p class="segmented-text text-sm">Critical Damage</p>
        <p>2.5x</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col text-xl gap-5 text-main-cyan-muted font-mono mb-6">
    <p>Vault</p>
    <div>
      <p>Gold</p>
      <p class="text-main-cyan text-3xl">{{ character().gold | BigDecimalFormat }}</p>
    </div>
    <div>
      <p>Kaizen Cores</p>
      <p class="text-main-cyan text-3xl">{{ character().prestigeCores | BigDecimalFormat }}</p>
    </div>
  </div>
</div>
